@model DomainModel.EducationModel

@{
    ViewData["Title"] = Model !=null ? "Edit" : "Education";
}
<div class="card">
    <div class="card-header">
        Case Entry Form
    </div>
    <div class="card-body">
        <form asp-action="@ViewData["Title"]" enctype="multipart/form-data" method="post" class="row g-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-4">
                <label asp-for="ApplicationId" class="control-label"></label>
                @{
                    if (Model!=null)
                    {
                        <input asp-for="ApplicationId" value="@Model.ApplicationId" class="form-control" />
                    }
                    else
                    {
                        <input asp-for="ApplicationId" value="@ViewData["ApplicationId"]" class="form-control" />
                    }
                }

                <span asp-validation-for="ApplicationId" class="text-danger"></span>
            </div>

            <div class="form-group col-md-4">
                <label asp-for="PurpuseType" class="control-label"></label>

                <select asp-for="PurpuseType" class="form-select" asp-items="@ViewBag.PurpuseType">
                    <option value="">Please select Purpose Type</option>
                </select>
                <span asp-validation-for="PurpuseType" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Tribe" class="control-label"></label>
                <select asp-for="Tribe" class="form-select" asp-items="@ViewBag.Tribe">
                    <option value="">Please select Tribe</option>
                </select>
                <span asp-validation-for="Tribe" class="text-danger"></span>
            </div>


            <div class="form-group col-md-3 service-pan">
                <label asp-for="ServiceType" class="control-label"></label>
                <select asp-for="ServiceType" class="form-select" asp-items="@ViewBag.ServiceType">
                    <option value="">Please select Service Type</option>
                </select>
                <span asp-validation-for="ServiceType" class="text-danger"></span>
            </div>


            <div class="form-group col-md-3 service-pan">
                <label asp-for="Rank" class="control-label"></label>
                <input asp-for="Rank" class="form-control" />
                <span asp-validation-for="Rank" class="text-danger"></span>
            </div>

            <div class="form-group col-md-3 service-pan">
                <label asp-for="Post" class="control-label"></label>
                <input asp-for="Post" class="form-control" />
                <span asp-validation-for="Post" class="text-danger"></span>
            </div>

            <div class="form-group col-md-3 service-pan">
                <label asp-for="OfficerName" class="control-label"></label>
                <input asp-for="OfficerName" class="form-control" />
                <span asp-validation-for="OfficerName" class="text-danger"></span>
            </div>


            <div class="form-group col-md-4 complent-pan">
                <label asp-for="ComplainerName" class="control-label"></label>
                <input asp-for="ComplainerName" class="form-control" />
                <span asp-validation-for="ComplainerName" class="text-danger"></span>
            </div>

            <div class="form-group col-md-4 complent-pan">
                <label asp-for="RespondentName" class="control-label"></label>
                <input asp-for="RespondentName" class="form-control" />
                <span asp-validation-for="RespondentName" class="text-danger"></span>
            </div>

            <div class="form-group col-md-4 complent-pan">
                <label asp-for="Evidence" class="control-label"></label>
                <input asp-for="Evidence" class="form-control" />
                <span asp-validation-for="Evidence" class="text-danger"></span>
            </div>

            <div class="form-group col-md-4">
                <label asp-for="ApplicationRecivedDate" class="control-label"></label>
                <input asp-for="ApplicationRecivedDate" id="ApplicationRecivedDate" class="form-control" />
                <span asp-validation-for="ApplicationRecivedDate" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="ApplicationName" class="control-label"></label>
                <input asp-for="ApplicationName" class="form-control" />
                <span asp-validation-for="ApplicationName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="CaseId" class="control-label"></label>
                <input asp-for="CaseId" class="form-control" />
                <span asp-validation-for="CaseId" class="text-danger"></span>
            </div>

            <div class="form-group col-md-4">
                <label asp-for="District" class="control-label"></label>
                <select asp-for="District" class="form-select" asp-items="@ViewBag.District">
                    <option value="">Please select District</option>
                </select>
                <span asp-validation-for="District" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Taluka" class="control-label"></label>
                <select asp-for="Taluka" class="form-select">
                    <option value="">Please select Taluka</option>
                </select>
                <span asp-validation-for="Taluka" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">

                <label asp-for="Village" class="control-label"></label>
                <input asp-for="Village" class="form-control" />
                <span asp-validation-for="Village" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="CasteCertificateDate" class="control-label"></label>
                <input asp-for="CasteCertificateDate" id="CasteCertificateDate" class="form-control" />
                <span asp-validation-for="CasteCertificateDate" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="CasteCertificateNumber" class="control-label"></label>
                <input asp-for="CasteCertificateNumber" class="form-control" />
                <span asp-validation-for="CasteCertificateNumber" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="CasteCertificateIssuingAuthority" class="control-label"></label>
                <input asp-for="CasteCertificateIssuingAuthority" class="form-control" />
                <span asp-validation-for="CasteCertificateIssuingAuthority" class="text-danger"></span>
            </div>

            <div class="form-group col-md-4">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-select" asp-items="@ViewBag.StatusMaster">
                    <option value="">Please select Status</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Remark" class="control-label"></label>
                <textarea asp-for="Remark" rows="3" class="form-control"></textarea>
                @*<span asp-validation-for="Remark" class="text-danger"></span>*@
            </div>

            <div class="form-group col-md-4">
                <label asp-for="CourtConttept" class="control-label"></label>
                <textarea asp-for="CourtConttept" rows="3" class="form-control"></textarea>
                @* <span asp-validation-for="CourtConttept" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>

        </form>

    </div>
</div>


@*
    <partial name="_ValidationScriptsPartial" />*@
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script>

    $(document).ready(function () {
            var items = "<option value=''>Please Select Taluka</option>";
            $('#Taluka').html(items);
             $('#District').change(function () {
               BindTaluka();
            });
             var ddlsource = "#District";
            if( $(ddlsource).val()!='')
            {
                BindTaluka();

            }


            // $('#Taluka').change(function () {
            //   BindVillages();
            //});
            $('#ApplicationRecivedDate').datepicker({
            format: 'yyyy-mm-dd'
            });

                $('#CasteCertificateDate').datepicker({
            format: 'yyyy-mm-dd'
            });
            $(".service-pan").hide();
            $(".complent-pan").hide();
            $('#PurpuseType').change(function () {
                var ddlsource = "#PurpuseType";
                if($(ddlsource).val()=="SR" || $(ddlsource).val()=="PS")
                {
                    $(".service-pan").show("1000");
                    $(".complent-pan").hide("1000");
                        //Need to disable
                    //$('#Rank').rules('remove');
                    //$('#Rank-error').text('');
                    $("#Rank").rules("add", 'required');
                    $("#Post").rules("add", 'required');
                    $("#ServiceType").rules("add", 'required');
                    $("#OfficerName").rules("add", 'required');

                    $('#ComplainerName').rules('remove');
                    $('#ComplainerName-error').text('');

                    $('#RespondentName').rules('remove');
                    $('#RespondentName-error').text('');

                    $('#Evidence').rules('remove');
                    $('#Evidence-error').text('');

                     $("#CasteCertificateDate").rules("add", 'required');
                     $("#CasteCertificateNumber").rules("add", 'required');
                     $("#CasteCertificateIssuingAuthority").rules("add", 'required');

                    // Service Pan
                    //$('#ComplainerName').attr('required', false);
                    //$('#RespondentName').attr('required', false);
                    //$('#Evidence').attr('required', false);
                   // $('#Rank').attr('required', false);
                    //$('#Rank').removeAttr('required');
                }
                else if($(ddlsource).val()=="CL")
                {
                     $(".complent-pan").show("1000");
                     $(".service-pan").hide("1000");

                     $('#Rank').rules('remove');
                     $('#Rank-error').text('');

                     $('#Post').rules('remove');
                     $('#Post-error').text('');

                     $('#ServiceType').rules('remove');
                     $('#ServiceType-error').text('');

                     $('#OfficerName').rules('remove');
                     $('#OfficerName-error').text('');

                     $('#CasteCertificateDate').rules('remove');
                     $('#CasteCertificateDate-error').text('');

                     $('#CasteCertificateNumber').rules('remove');
                     $('#OfficerName-error').text('');

                     $('#CasteCertificateIssuingAuthority').rules('remove');
                     $('#CasteCertificateIssuingAuthority-error').text('');

                     $("#ComplainerName").rules("add", 'required');
                     $("#RespondentName").rules("add", 'required');
                     $("#Evidence").rules("add", 'required');
                }
                else
                {
                    $(".complent-pan").hide("1000");
                    $(".service-pan").hide("1000");
                    $('#Rank').rules('remove');
                    $('#Rank-error').text('');

                    $('#Post').rules('remove');
                    $('#Post-error').text('');

                    $('#ServiceType').rules('remove');
                    $('#ServiceType-error').text('');

                    $('#OfficerName').rules('remove');
                    $('#OfficerName-error').text('');

                    $('#ComplainerName').rules('remove');
                    $('#ComplainerName-error').text('');

                    $('#RespondentName').rules('remove');
                    $('#RespondentName-error').text('');

                    $('#Evidence').rules('remove');
                    $('#Evidence-error').text('');

                }

            });
            //var UserId = $('#UserId').val();
            //if (UserId != null)
            //{
            //    console.log(UserId);
            //    BindCity();

            //}
        });

         function BindTaluka() {
            var url = '@Url.Content("~/")' + "Clerk/Purpose/GetTalukaList";
                var ddlsource = "#District";
                $.post(url, { DistrictId: $(ddlsource).val() }, function (data) {
                    var items = '';
                    $("#Taluka").empty();
                    items += "<option value=''>Please Select Taluka</option>";
                    $.each(data, function (i, Taluka) {
                     items += "<option value='" + Taluka.value + "'>" + Taluka.text + "</option>";
                    });
                    $('#Taluka').html(items);

                    //
                    //var _cityval = @(ViewBag.City!=null? Html.Raw(ViewBag.City) : Html.Raw("undefined"));
                    //if (_cityval != null) {
                    //    $('#City').val(_cityval);
                    //}
                    //if (Model!=null)
                    //{
                        var _cityval = @(ViewBag.Taluka!=null? Html.Raw(ViewBag.Taluka) : Html.Raw("undefined"));
                        if (_cityval != null) {
                            console.log(_cityval);
                            $('#Taluka').val(_cityval);
                        }
                    

                });
                }

           function BindVillages(slected) {
            var url = '@Url.Content("~/")' + "Clerk/Purpose/GetVillagesList";
                var ddlsource = "#Taluka";
                $.post(url, { TalukaId: $(ddlsource).val() }, function (data) {
                    var items = '';
                    $("#Village").empty();
                    items += "<option value=''>Please Select Village</option>";
                    $.each(data, function (i, Village) {
                     items += "<option value='" + Village.value + "'>" + Village.text + "</option>";
                    });
                    $('#Village').html(items);

                    //


                });
                }


</script>


}